<a href="https://colab.research.google.com/github/hungryphobic/NLP-projects/blob/main/P3_Twitter_sentiment_Analysis_Malay_Language_FeatureExtraction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Feature Extraction**
---

## **Introduction**

This phase is we take the cleaned dataset and performed feature extraction so that it can be use for classificaion task later on. Feature extraction which also known as vectorization; vectorization the general process of turning a collection of text documents into numerical feature vectors. Because it prepare the data in such it can be use; as sequence of symbols cannot be fed directly to the algorithms themselves as most of them expect numerical feature vectors with a fixed size rather than the raw text documents with variable length.

After some digging, there is some common vectorization method, technique wehich is bag if Word(BOW),count vectorizer and tfidf vectorizer. in this project I will compare the performance of count vectorizer and tfidf vectorizer; and mainly focus on tfidf as from my reading, **The hypothesis** is that tfidf vectorizer is better in term of performance and classification task later on. So,let's find out!


For this part of project i will use scikit library. As scikit-learn provides utilities for the most common ways to extract numerical features from text content, namely:

> * **tokenizing** strings and giving an integer id for each possible token, for instance by using white-spaces and punctuation as token separators.
* **counting** the occurrences of tokens in each document.
* **normalizing** and weighting with diminishing importance tokens that occur in the majority of samples / documents.

---

# Import library package and module

In [2]:
#import module and package
%%time
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd

CPU times: user 10 µs, sys: 2 µs, total: 12 µs
Wall time: 14.8 µs

In [3]:
# just to try the vectorizer
texts = ["good movie","not a good movie","did not like","i like it","good one"]

## **Pre-V**

Just do simple vectorization for simple text data just to do an overview of both vectorizer
---

### **Count vectorizer**
---
> CountVectorizer implements both tokenization and occurrence counting in a single class

#### Initilize

In [11]:
cV = CountVectorizer(ngram_range=(1, 2),min_df=2)

#### vectorize our corpus

In [12]:
x = cV.fit_transform(texts)

#### View or vectorized data

In [13]:
print(x.toarray())

[[1 1 0 1 0]
 [1 1 0 1 1]
 [0 0 1 0 1]
 [0 0 1 0 0]
 [1 0 0 0 0]]

In [14]:
pd.DataFrame(x.todense(), columns=cV.get_feature_names())

   good  good movie  like  movie  not
0     1           1     0      1    0
1     1           1     0      1    1
2     0           0     1      0    1
3     0           0     1      0    0
4     1           0     0      0    0

### Tf idf Vectorizer
---
> **Tf** means ***term-frequency*** while **tf–idf**   means term-frequency times ***inverse document-frequency***: 

> `tf-idf(t,d) = tf(t,d) x idf(t)`

In a large text corpus, some words will be very present (e.g. “the”, “a”, “is” in English) hence carrying very little meaningful information about the actual contents of the document. If we were to feed the direct count data directly to a classifier those very frequent terms would shadow the frequencies of rarer yet more interesting terms.

>In order to re-weight the count features into floating point values suitable for usage by a classifier it is very common to use the **tf–idf transform**.

#### Initialize

In [64]:
tV = TfidfVectorizer(min_df=2, ngram_range=(1,2))

#### Vectorize our Corpus

In [65]:
y = tV.fit_transform(texts)

#### View our vectorized data

In [66]:
print(y.toarray())

[[0.50620441 0.60981846 0.         0.60981846 0.        ]
 [0.43218341 0.52064623 0.         0.52064623 0.52064623]
 [0.         0.         0.70710678 0.         0.70710678]
 [0.         0.         1.         0.         0.        ]
 [1.         0.         0.         0.         0.        ]]

In [67]:
pd.DataFrame(y.todense(), columns=tV.get_feature_names())

       good  good movie      like     movie       not
0  0.506204    0.609818  0.000000  0.609818  0.000000
1  0.432183    0.520646  0.000000  0.520646  0.520646
2  0.000000    0.000000  0.707107  0.000000  0.707107
3  0.000000    0.000000  1.000000  0.000000  0.000000
4  1.000000    0.000000  0.000000  0.000000  0.000000

## V
---

### V-1-tfidf

In [41]:
#load our data
data1 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/tweets_data/for feature extraction/clean dataset/1.csv')

In [43]:
# first have to remove nan value
data1 = data1.dropna()
data1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 83 entries, 0 to 99
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Raw       83 non-null     object
 1   CD-RE     83 non-null     object
 2   Polarity  83 non-null     int64
dtypes: int64(1), object(2)
memory usage: 2.6+ KB

In [45]:
data1.to_csv('/content/drive/MyDrive/Colab Notebooks/tweets_data/for feature extraction/clean dataset/nanRemove/1.csv')

In [46]:
#load our non empty data
data1 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/tweets_data/for feature extraction/clean dataset/nanRemove/1.csv')
data1Text= data1['CD-RE']
data1Text= list(data1Text)
data1Polarity = data1['Polarity']

#### Vectorize our Corpus

In [47]:
data1Vector = tV.fit_transform(data1Text)

#### View our vectorized data

In [49]:
print(data1Vector.toarray())

[[0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 ...
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.31076123 0.         ... 0.         0.         0.        ]]

In [57]:
data1Vec = pd.DataFrame(data1Vector.todense(), columns=tV.get_feature_names())

In [69]:
# merge our vectorized text data wuth theits labelled data
data1ToProcess = pd.concat([data1Vec, data1Polarity], axis=1, ignore_index=False)

In [68]:
#view our merge vectorized data
data1ToProcess.head(3)

   000  2021   24  500  50k  ...  upah  warga   ya  zalim  Polarity
0  0.0   0.0  0.0  0.0  0.0  ...   0.0    0.0  0.0    0.0         1
1  0.0   0.0  0.0  0.0  0.0  ...   0.0    0.0  0.0    0.0        -1
2  0.0   0.0  0.0  0.0  0.0  ...   0.0    0.0  0.0    0.0        -1

[3 rows x 107 columns]

#### export our vectorized data for classificatioon task later on

In [70]:
data1ToProcess.to_csv('/content/drive/MyDrive/Colab Notebooks/tweets_data/for feature extraction/clean dataset/vectorized/1.csv')

## AutomatedV()

In [142]:
def automatedV(min_file,max_file):
  # step1: load cleaned data(contain nan value) --> data_i
  # step 2: remove nan value datase
  # step 3: saved the non empty cleaned data
  # step 4: load again our non empty data and...
  #   --> 1) data_i_Text 
  #   --> 2) data_i_Polarity
  # step 5: vectorize our text data --> data_i_Vec
  # step 6: merge our data <-- data_i_Vec concat data_i_Polarity 
  #   --> data_i_toProcess
  # step 7: Export our dataset
    # fp_1 is file path to import cleaned datset from cleaned dataset folder (refer step 1)
    # fp_2 is file path to export nan removed dataset to nanRemove folder
    #   also th epath where the datset will be import (refer step and step4)
    # fp_3 is file path to saved our final dataset (refer step 7)
  fp_1 = '/content/drive/MyDrive/Colab Notebooks/tweets_data/for feature extraction/clean dataset/'
  fp_2 = '/content/drive/MyDrive/Colab Notebooks/tweets_data/for feature extraction/clean dataset/nanRemove/'
  fp_3 = '/content/drive/MyDrive/Colab Notebooks/tweets_data/for feature extraction/clean dataset/vectorized/'
  for i in range(min_file,max_file+1):
    #initialized our variable
    raw = 'data'+str(i)
    fp1 = fp_1+str(i)+'.csv'
    fp2 = fp_2+str(i)+'.csv'
    fp3 = fp_3+str(i)+'.csv'
    #step1
    raw = pd.read_csv(fp1)
    #step2
    data = raw.dropna()
    data.info()
    #step3
    data.to_csv(fp2)
    #step4
    data2 = pd.read_csv(fp2)
    data2Text= data2['CD-RE']
    data2Text= list(data2Text)
    data2Polarity = data2['Polarity']
    #step5
    data2Vector = tV2.fit_transform(data2Text)
    #step6
    data2Vec = pd.DataFrame(data2Vector.todense(), columns=tV2.get_feature_names())
      # merge our vectorized text data wuth their labelled data
    data2ToProcess = pd.concat([data2Vec, data2Polarity], axis=1, ignore_index=False)
    #step7
    data2ToProcess.to_csv(fp3)
    
    print(fp1)
    print(fp2)
    print(fp3)

In [144]:
%%time
automatedV(3,9)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 71 entries, 0 to 76
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Raw       71 non-null     object
 1   CD-RE     71 non-null     object
 2   Polarity  71 non-null     float64
dtypes: float64(1), object(2)
memory usage: 2.2+ KB
   402  402 kapal  402 tenggelam   53  ...  video  viral  warga  Polarity
0  0.0        0.0            0.0  0.0  ...    0.0    0.0    0.0      -1.0
1  0.0        0.0            0.0  0.0  ...    0.0    0.0    0.0       0.0
2  0.0        0.0            0.0  0.0  ...    0.0    0.0    0.0       0.0

[3 rows x 103 columns]
/content/drive/MyDrive/Colab Notebooks/tweets_data/for feature extraction/clean dataset/3.csv
/content/drive/MyDrive/Colab Notebooks/tweets_data/for feature extraction/clean dataset/nanRemove/3.csv
/content/drive/MyDrive/Colab Notebooks/tweets_data/for feature extraction/clean dataset/vectorized/3.csv
<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Raw       100 non-null    object
 1   CD-RE     100 non-null    object
 2   Polarity  100 non-null    int64
dtypes: int64(1), object(2)
memory usage: 3.1+ KB
    11   14  14 karim   19  ...  vaksin  wacana  wacana semalam  Polarity
0  0.0  0.0       0.0  0.0  ...     0.0     0.0             0.0        -1
1  0.0  0.0       0.0  0.0  ...     0.0     0.0             0.0        -1
2  0.0  0.0       0.0  0.0  ...     0.0     0.0             0.0         0

[3 rows x 260 columns]
/content/drive/MyDrive/Colab Notebooks/tweets_data/for feature extraction/clean dataset/4.csv
/content/drive/MyDrive/Colab Notebooks/tweets_data/for feature extraction/clean dataset/nanRemove/4.csv
/content/drive/MyDrive/Colab Notebooks/tweets_data/for feature extraction/clean dataset/vectorized/4.csv
<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 0 to 14
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Raw       15 non-null     object
 1   CD-RE     15 non-null     object
 2   Polarity  15 non-null     int64
dtypes: int64(1), object(2)
memory usage: 480.0+ bytes
    11  11 kematian   13  ...  positif baharu  positif baru  Polarity
0  0.0          0.0  0.0  ...             0.0      0.000000         1
1  0.0          0.0  0.0  ...             0.0      0.000000         0
2  0.0          0.0  0.0  ...             0.0      0.257136         0

[3 rows x 33 columns]
/content/drive/MyDrive/Colab Notebooks/tweets_data/for feature extraction/clean dataset/5.csv
/content/drive/MyDrive/Colab Notebooks/tweets_data/for feature extraction/clean dataset/nanRemove/5.csv
/content/drive/MyDrive/Colab Notebooks/tweets_data/for feature extraction/clean dataset/vectorized/5.csv
<class 'pandas.core.frame.DataFrame'>
Int64Index: 74 entries, 0 to 99
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Raw       74 non-null     object
 1   CD-RE     74 non-null     object
 2   Polarity  74 non-null     int64
dtypes: int64(1), object(2)
memory usage: 2.3+ KB
    12  12 mei        14   14 hari  ...  wanita budak  warga   ya  Polarity
0  0.0     0.0  0.000000  0.000000  ...           0.0    0.0  0.0         1
1  0.0     0.0  0.225113  0.225113  ...           0.0    0.0  0.0         0
2  0.0     0.0  0.000000  0.000000  ...           0.0    0.0  0.0         0

[3 rows x 165 columns]
/content/drive/MyDrive/Colab Notebooks/tweets_data/for feature extraction/clean dataset/6.csv
/content/drive/MyDrive/Colab Notebooks/tweets_data/for feature extraction/clean dataset/nanRemove/6.csv
/content/drive/MyDrive/Colab Notebooks/tweets_data/for feature extraction/clean dataset/vectorized/6.csv
<class 'pandas.core.frame.DataFrame'>
Int64Index: 57 entries, 0 to 99
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Raw       57 non-null     object
 1   CD-RE     57 non-null     object
 2   Polarity  57 non-null     int64
dtypes: int64(1), object(2)
memory usage: 1.8+ KB
   ada  agama  ahli  anak  ...  undang ipcmc  undang undang  untuk  Polarity
0  0.0    0.0   0.0   0.0  ...           0.0            0.0    0.0        -1
1  0.0    0.0   0.0   0.0  ...           0.0            0.0    0.0         0
2  0.0    0.0   0.0   0.0  ...           0.0            0.0    0.0        -1

[3 rows x 67 columns]
/content/drive/MyDrive/Colab Notebooks/tweets_data/for feature extraction/clean dataset/7.csv
/content/drive/MyDrive/Colab Notebooks/tweets_data/for feature extraction/clean dataset/nanRemove/7.csv
/content/drive/MyDrive/Colab Notebooks/tweets_data/for feature extraction/clean dataset/vectorized/7.csv
<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Raw       100 non-null    object
 1   CD-RE     100 non-null    object
 2   Polarity  100 non-null    int64
dtypes: int64(1), object(2)
memory usage: 3.1+ KB
    1a   1b   1c   1d  2006  ...  with  with tears   ya  zaman  Polarity
0  0.0  0.0  0.0  0.0   0.0  ...   0.0         0.0  0.0    0.0        -1
1  0.0  0.0  0.0  0.0   0.0  ...   0.0         0.0  0.0    0.0        -1
2  0.0  0.0  0.0  0.0   0.0  ...   0.0         0.0  0.0    0.0        -1

[3 rows x 182 columns]
/content/drive/MyDrive/Colab Notebooks/tweets_data/for feature extraction/clean dataset/8.csv
/content/drive/MyDrive/Colab Notebooks/tweets_data/for feature extraction/clean dataset/nanRemove/8.csv
/content/drive/MyDrive/Colab Notebooks/tweets_data/for feature extraction/clean dataset/vectorized/8.csv
<class 'pandas.core.frame.DataFrame'>
Int64Index: 98 entries, 0 to 99
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Raw       98 non-null     object
 1   CD-RE     98 non-null     object
 2   Polarity  98 non-null     int64
dtypes: int64(1), object(2)
memory usage: 3.1+ KB
        000        19  19 kes  2021  ...  yaakob siaran  zon  zon merah  Polarity
0  0.000000  0.000000     0.0   0.0  ...            0.0  0.0        0.0        -1
1  0.000000  0.200306     0.0   0.0  ...            0.0  0.0        0.0        -1
2  0.571063  0.000000     0.0   0.0  ...            0.0  0.0        0.0        -1

[3 rows x 237 columns]
/content/drive/MyDrive/Colab Notebooks/tweets_data/for feature extraction/clean dataset/9.csv
/content/drive/MyDrive/Colab Notebooks/tweets_data/for feature extraction/clean dataset/nanRemove/9.csv
/content/drive/MyDrive/Colab Notebooks/tweets_data/for feature extraction/clean dataset/vectorized/9.csv
CPU times: user 666 ms, sys: 12.8 ms, total: 679 ms
Wall time: 3.68 s